{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "^(react|next)(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@stadiumiq/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy", "jsx"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
